[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
click = "*"
numpy = "*"
elasticsearch = {extras = ["async"], version = "*"}

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"

[scripts]
index-precomputed = "python -m scripts.commands index-precomputed"