.searchBar {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: solid 1px;
    @apply border-gray-500;
    transition: all .3s;
}

.searchBar:focus {
    @apply border-primary;
    outline: none;
}